# 🔐 Credenciales
firebase-key.json
.env
.env.*
!.env.example

# 🧠 Python
__pycache__/
*.pyc

# 📦 Entornos virtuales
venv/
.env/

# 📁 Sistema
.DS_Store
Thumbs.db

# 🔧 Logs
*.log

# Datos locales de usuarios
app/users.json
app/users.json.tmp
app/tokens.json
app/tokens.json.tmp
